*{
    margin: 0;
    box-sizing: border-box;
    outline: none;

}
body{
    color: #fff;
    background-color: black;
    font-family: Space Grotesk;
}

h1,h2,h3,h4,h5,h6{
    font-family: Butler;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 26px;
}

.container{
    max-width: 1166px;
    margin: 0 auto;
    
}

header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

header ul{
    padding-left: 0;
}
header ul li{
list-style: none;
display: inline-block;
margin: 0 20px;
}
header ul li a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.banner{
    height: 100vh;
    background: url('images/banner.jpg')no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.banner .text{
    text-align: center;
    padding-bottom: 100px;
}

.banner h1{
    line-height: 80px;
    font-weight: 300;
    margin-bottom: 10px;
}

.btn{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 60px;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    z-index: 9;
    margin-top: 50px;
    transition: all ease 0.5s;
}
.btn:before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    opacity: 0.9;
    z-index: -1;
    transition: all ease 0.5s;
}

.btn:hover{
    color: #fff;
}
.btn:hover:before{
    top:0;
    height: 100%;
}
.brand-logo{
    padding: 30px 0;
}
.brand-logo-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.sec1{
    position: relative;
    padding: 80px 0;
}
.sec h3{
    text-transform: uppercase;
    line-height: 40px;
}
.sec p{
    line-height: 32px;
}
.sec1-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sec1 .text{
    width: 47%;

}
.sec1 .text-left{
    text-align: right;
}
.sec1 .text-right{
    text-align: left;
}
.sec1:before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent ,#fff ,transparent);
}
.sec1:after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent ,#fff ,transparent);
}

.sec2{
    padding: 100px 0 0;
}
.sec2 h2{
    text-transform: uppercase;
}
.sec2 p{
    line-height: 30px;
}
.sec2-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sec2-inner .img{
    width: auto;
}
.sec2-inner .text{
    width: 50%;
    margin-left: -65px;
    z-index: 9;
}
.sec2 .text-inner{
    position: relative;
    margin: 55px 0 0 190px;
}
.sec2 .text-inner:before{
    content: '';
    position: absolute;
    top: 8px;
    left: -30px;
    width: 1px;
    height: 100%;
    background: linear-gradient(to top,transparent,#fff);
}

.left-right-sec:nth-child(even) .text{
    margin-right: -65px;
    text-align: right;
}
.left-right-sec:nth-child(even) .text-inner{
    margin: 55px 190px 0 0 ;
}
.left-right-sec:nth-child(even) .text-inner:before{
    left: inherit;
    right: -30px
}
.sec3{
    padding: 50px 0 0 ;
}
.sec3 h2{
    text-transform: uppercase;
    min-width: 60%;
}
.sec3-slider{
    margin-top: 90px;
}


button.slick-prev.slick-arrow,button.slick-next.slick-arrow{
    position: absolute;
    top: -140px;
}
button.slick-prev{
    left: inherit;
    right: 180px;
}
button.slick-next{
    right:90px;
}
button.slick-prev:before,
button.slick-next:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #fff url(images/arrow-next.svg)no-repeat;
    background-size: 14px;
    background-position: center;
    border: 1px solid #fff;
    opacity: 1;
    width: 70px;
    height: 70px;
}
button.slick-prev:before{
    background: transparent url(images/arrow-prev.svg)no-repeat;
    background-size: 14px;
    background-position: center;
}

.sec4{
    padding: 100px 0;
}
.sec4 h2{
    text-transform: uppercase;
}
.sec4-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 90px;
}
.box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23%;
    min-height: 270px;
    border: solid 1px #fff;
    margin-bottom: 40px;
    overflow: hidden;
}
.box h6{
    font-family: Space Grotesk;
    font-size: 18px;
    font-weight: 400;
}
.sec4-boxes .img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all ease 1s;
    object-fit: cover;
    
}

.box img{
   max-width: 100%;
   max-height: 100;
}

.box:hover .img{
    opacity: 1;
}
footer{
    position: relative;
    padding: 50px 0;

}
.footer-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-inner .col{
    padding-right: 50px;
}
footer ul{
    margin-left: 0;
}
footer ul li{
    list-style: none;
    margin-bottom: 30px;
}
footer ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px ;
}
footer:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent , #fff , transparent);
}
footer:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent , #fff , transparent);
}
.copyright{
    padding: 25px 0;
    text-align: center;
}
.copyright p{
    font-size: 14px;
}